@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* Register dark variant */
@custom-variant dark (&:where(.dark, .dark *));

/* Theme Variables */
@theme {
  --color-dark-bg: #0E0E0F;
  --color-dark-accent: #00F5D4;
  --color-dark-accent2: #3A86FF;
  --color-dark-highlight: #FF4D6D;
  --color-dark-text: #E5E5E5;
  --color-dark-muted: #9CA3AF;
  --color-dark-border: #1F2937;

  --input-dark-bg: #1A1D21;
  --input-dark-border: #2A2F35;
  --input-dark-border-focus: #00F5D4;
  --input-dark-text: #E5E5E5;
  --input-dark-placeholder: #6B7280;
  --input-dark-error: #FF4D6D;

  --color-light-bg: #F9FAFB;
  --color-light-accent: #2563EB;
  --color-light-accent2: #2DD4BF;
  --color-light-highlight: #F87171;
  --color-light-text: #1F2937;
  --color-light-muted: #6B7280;
  --color-light-border: #E5E7EB;

  --input-light-bg: #FFFFFF;
  --input-light-border: #D1D5DB;
  --input-light-border-focus: #2563EB;
  --input-light-text: #1F2937;
  --input-light-placeholder: #9CA3AF;
  --input-light-error: #DC2626;

  --color-gradient-cyanblue: #00F5D4;
  --color-gradient-cyanblue2: #3A86FF;
  --color-gradient-purplepink: #A78BFA;
  --color-gradient-purplepink2: #FF4D6D;
}

/* Base styles */
@layer base {
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;

    @apply bg-[var(--color-light-bg)] dark:bg-[var(--color-dark-bg)];
  }

  .themeBG {
    @apply bg-[var(--color-light-bg)] dark:bg-[var(--color-dark-bg)];
  }
  .themeBorder{
    @apply border-[var(--color-light-border)] dark:border-[var(--color-dark-border)];
  }
  .themeText{
    @apply text-[var(--color-light-text)] dark:text-[var(--color-dark-text)];
  }
  .themeInput{
    @apply bg-[var(--input-light-bg)] border-[var(--input-light-border)] dark:bg-[var(--input-dark-bg)] dark:border-[var(--input-dark-border)];
  }
  .themeInputFocus{
    @apply border-[var(--input-light-border-focus)] dark:border-[var(--input-dark-border-focus)];
  }
  .themeInputText{
    @apply text-[var(--input-light-text)] dark:text-[var(--input-dark-text)];
  }
  .themeInputPlaceholder{
    @apply text-[var(--input-light-placeholder)] dark:text-[var(--input-dark-placeholder)];
  }
  .themeInputError{
    @apply text-[var(--input-light-error)] dark:text-[var(--input-dark-error)];
  }
  .iconBg{
    @apply text-[var(--color-dark-accent2)] dark:text-[var(--color-dark-accent)];
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

